.sidebar-container{
    display: flex;
    flex-direction: column;
    width: 20rem;
    background: var(--blue);
    height: 90vh;
    border-radius: 0px 35px 35px 35px;
    position: relative;
    overflow-y: scroll;
}

.sidebar-container::-webkit-scrollbar{
    display: none;
}

.profile-picture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 25px auto 0px auto;
    border: 5px solid var(--lightBlue);
}

.profile-name{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto 0px auto;
}

.profile-job{
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin: 5px auto 0px auto;
}

.online-icon{
    color: greenyellow;
    font-size: 16px;
    position: absolute;
    left: 59%;
    top: 103px;
    border: 3px solid var(--lightBlue);
    border-radius: 50%;
    padding: 0px;
    background-color: var(--lightBlue);
}

.navbar-list{
    list-style-type: none;
    margin-top: 45px;
    padding: 0px 30px;
}

.navbar-list > a{
    text-decoration: none;
}

.navbar-list > a > li{
    color: white;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 0px 20px 20px 20px;
    background-color: var(--lightBlue);
    padding: 8px 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.nav-list-icon{
    font-size: 12px;
    margin: 0px 15px 0px 10px;
}

.navbar-social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 45px auto 25px;
}

.navbar-social-icons div{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--lightBlue);
}