.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1600px) {
    .container {
        max-width: 1600px;
    }
}
@media (min-width: 1900px) {
    .container {
        max-width: 1900px;
    }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --yellow: #F5C32C;
  --orange: #FCA61F;
  --black: #242D49;
  --blue: #19194e;
  --lightBlue: #424288;
  --gray: #788097;
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%)
}

.App{
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.content-container{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  height: 100vh;
}

.content-left{
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}

.content-right{
  height: 100%;
  flex: 3;
  overflow-y: scroll;
  background-color: #242D49;
}

.content-right::-webkit-scrollbar{
  display: none;
}